@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.sideNavTree {

  padding: 20px;

  .selected-menu-item {
    background-color: rgb(197, 195, 195);
  }

  @include mat.tree-overrides(
    (
      container-background-color: transparent,
      node-text-color: red,
      node-text-size: 16px,
      node-min-height: 1px,
    )
  );

}


