<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="sideNavTree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <a
      [routerLink]="node.route"
      [matTooltip]="node.name"
      routerLinkActive="selected-menu-item"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>{{node.icon}}</mat-icon>
      <span class="label" [class.hidden]="collapsed">{{node.name}}</span>
    </a>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node;when: hasChild"
    matTreeNodePadding
    matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.name"
  >
    <a
      [routerLink]="node.route"
      [matTooltip]="node.name"
      routerLinkActive="selected-menu-item"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>{{node.icon}}</mat-icon>
      <span class="label" [class.hidden]="collapsed">{{node.name}}</span>
    </a>
    <button
      matIconButton
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
