.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 800px;           /* fixed width for dialog */
  max-height: 90vh;       /* limit height */
  border-radius: 12px;
}

.dialog-container img {
  width: 100%;            /* image fills dialog width */
  height: auto;           /* maintain aspect ratio */
  max-height: 90vh;       /* prevent image from overflowing viewport height */
  object-fit: contain;
  border-radius: 12px;
}


.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
