<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav()" *ngIf="isLoggedIn">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Social Login App</span>
  <span class="spacer"></span>
  <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="themeMenu" aria-label="Select theme">
    <mat-icon>{{ selectedTheme === 'dark-theme' ? 'dark_mode' : 'light_mode' }}</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
    <ng-container *ngFor="let theme of themes">
      <button mat-menu-item (click)="changeTheme(theme.value)">
        <mat-radio-button [checked]="selectedTheme === theme.value" color="primary">
          {{ theme.label }}
        </mat-radio-button>
      </button>
    </ng-container>
  </mat-menu>
  <button mat-button *ngIf="!isLoggedIn" (click)="navigateToLogin()">Login</button>
  <button mat-button *ngIf="isLoggedIn" (click)="signOut()">Sign Out</button>
</mat-toolbar>