@use '@angular/material' as mat;

.container {
  padding: 20px;
  height: calc(100vh - 64px - 60px);
  overflow-y: auto;
  background-color: mat.get-color-from-palette(mat.$grey-palette, 50);

  table {
    width: 100%;
    margin-top: 20px;

    th, td {
      text-align: left;
      padding: 8px;
      color: mat.get-color-from-palette(mat.$grey-palette, 900);
    }
  }
}