<mat-toolbar [class.shadow]="hasShadow()">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>{{ pinned ? 'chevron_left' : 'menu' }}</mat-icon>
  </button>
  <span routerLink="/">Template App</span>

  <button routerLink="/" mat-button>Home</button>
  <button routerLink="/images" mat-button>Images</button>
  <button routerLink="/dashboard" mat-button>Dashboard</button>
  <button routerLink="/admindashboard" mat-button>Admin Dashboard</button>
  <span class="spacer"></span>

  @if (isAuthenticated() && profile()) {
  <div class="user-info">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <img
        [src]="profile()!.profilePicture || 'assets/default-profile.webp'"
        alt="Profile Picture"
        class="profile-pic"
      />
    </button>
    <mat-menu #userMenu="matMenu" class="user-menu">
      <div class="user-name">Name: {{ profile()!.name }}</div>
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="format_color_fill"></mat-icon>
    </button>
  </div>
  } @else {
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
  }
</mat-toolbar>
