<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Email Verification</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (message().length > 0) {
        <p class="success-message">{{ message() }}</p>
      }
      @if (error().length > 0) {
        <p class="error-message">{{ error() }}</p>
      }
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goToLogin()">Go to Login</button>
    </mat-card-actions>
  </mat-card>
</div>