@use '@angular/material' as mat;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px - 60px);
  background-color: mat.get-color-from-palette(mat.$grey-palette, 50);

  .mfa-card {
    width: 400px;
    text-align: center;

    img {
      width: 200px;
      margin-bottom: 15px;
    }

    .full-width {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}