.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

mat-sidenav.sidenav {
  width: 220px;
  transition: width 0.25s ease;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  top: 64px;

  &.collapsed {
    width: 64px;
  }
}

mat-sidenav-content.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  transition: margin-left 0.25s ease;
  top: 64px;

  &.with-sidenav {
    margin-left: 220px !important
  }

  &.collapsed {
    margin-left: 64px !important;
  }

  .main {
    flex: 1;
    padding: 16px;
    overflow: auto;
    //width: 100% !important;
  }
}
