<app-toolbar (toggleSidenav)="toggleSidenav()"></app-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="false" *ngIf="isLoggedIn">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/profile">Profile</a>
      <a mat-list-item routerLink="/submit-article">Submit Article</a>
      <a mat-list-item routerLink="/articles">Articles</a>
      <a mat-list-item routerLink="/admin-dashboard" *ngIf="isAdmin">Admin Dashboard</a>
      <a mat-list-item (click)="signOut()">Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>